html{
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px !important;// значение высоты #footer
}

.navbar-inverse{
  background-color: #2c3e50;
  color: white; 
}
.navbar-inverse .navbar-nav>li>a{
  color: white;
} 
.navbar-inverse .navbar-header .navbar-brand{
  color: white;
}
.img_title{
  max-width:100px;
}

main {
  margin-top: 100px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  clear: both;  
  text-align: left;
  color: white;
  font-family: Arial;
  font-size: 11px;
  font-weight: 700;
  background-color: #2c3e50;
  padding-top: 20px;
  padding-bottom: 15px;
  padding: 15px;
}

footer a {
  color: white;
  padding: 5px;
}


#copyright {
  float: right;
}


fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 15px;
    padding-left: 30px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

.choose_set {
  padding: 10px;
}
.choose_set legend {
  text-decoration: none;
}

.reg_btn {
  margin-top: 15px;
}

